#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.img {
  width: 25%;
  height: auto;
  display: flex;
  margin: 1rem auto;
}

.sidebar {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  height: 100%;
}

.containerLeft {
  display: inline-block;
  height: 100vh;
}

.containerRight {
  display: inline-block;
  height: 100vh;
}

.styleContainerTexto {
  text-align: left;
}

.styleTexto {
  color:goldenrod
}

.card {
  padding: 2em;
  display: flex;
}
.cardClima {
  display: flex;
  
}
.read-the-docs {
  color: #888;
}
