#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  height: 100%; /* Ocupa toda la altura del contenedor */
}

.containerLeft {
  display: flex;
  justify-content: flex-end; /* Alinea la barra lateral en el lado derecho */
  height: 100vh; /* Establece la altura al 100% del viewport */
}

.containerRight {
  display: flex;
  justify-content: flex-start; /* Alinea la barra lateral en el lado derecho */
  height: 100vh; /* Establece la altura al 100% del viewport */
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
